.login-container * {
  margin: 0;
  padding: 0;
}

.login-container {
  width: fit-content;
  background: rgb(226, 226, 226);
  padding: 1em;
  margin: 0 auto;
}

.login-container .error {
  margin-bottom: 1em;
  font-size: 0.8em;
  color: red;
}

.login-container .login-btn {
  padding: 3px 10px;
  margin-bottom: 3em;
}

.login-container h3 {
  margin-bottom: 1em;
}
